<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title EFIRM</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="~/assets/img/favicon.png">
	<title>EFIRM</title>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- CSS - REQUIRED - START -->
	<!-- Batch Icons -->
	<link rel="stylesheet" href="~/assets/fonts/batch-icons/css/batch-icons.css">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap/bootstrap.min.css">
	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="~/assets/css/bootstrap/mdb.min.css">
	<!-- Custom Scrollbar -->
	<link rel="stylesheet" href="~/assets/plugins/custom-scrollbar/jquery.mCustomScrollbar.min.css">
	<!-- Hamburger Menu -->
	<link rel="stylesheet" href="~/assets/css/hamburgers/hamburgers.css">
	<!-- CSS - REQUIRED - END -->
	<!-- CSS - OPTIONAL - START -->
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/assets/fonts/font-awesome/css/font-awesome.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/assets/fonts/font-awesome/css/font-awesome.min.css">
	<!-- JVMaps -->
	<link rel="stylesheet" href="~/assets/plugins/jvmaps/jqvmap.min.css">
	
	<link rel="stylesheet" href="~/assets/css/quillpro/quillpro.css">

</head>
<body>

	@RenderBody()

	<script type="text/javascript" src="~/assets/js/jquery/jquery-3.1.1.min.js"></script>

	<script type="text/javascript" src="~/assets/js/bootstrap/popper.min.js"></script>

	<script type="text/javascript" src="~/assets/js/bootstrap/bootstrap.min.js"></script>

	<script type="text/javascript" src="~/assets/js/bootstrap/mdb.min.js"></script>

	<script type="text/javascript" src="~/assets/plugins/velocity/velocity.min.js"></script>

	<script type="text/javascript" src="~/assets/plugins/velocity/velocity.ui.min.js"></script>

	<script type="text/javascript" src="~/assets/plugins/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

	<script type="text/javascript" src="~/assets/plugins/jquery_visible/jquery.visible.min.js"></script>

	<script type="text/javascript" src="~/assets/js/misc/ie10-viewport-bug-workaround.js"></script>

	<script type="text/javascript" src="~/assets/js/misc/holder.min.js"></script>

	<script type="text/javascript" src="~/assets/js/scripts.js"></script>
</body>
</html>
